services:
  leaderboard:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:3000:3000"
    volumes:
      - ./cache:/app/cache
      - ./config.toml:/app/config.toml
